# ==========================================
# Configurações do Banco de Dados PostgreSQL
# ==========================================

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGDATABASE=sportsleague

# Alterar a variável abaixo para a senha do seu SGBD local:
PGPASSWORD=senha_do_postgres_aqui